<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kingstar.ficc.dao.mapper.TFundAccountMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.kingstar.ficc.dao.entity.TFundAccount">
        <id column="ID" property="id" />
        <result column="FUND_ACCOUNT_NO" property="fundAccountNo" />
        <result column="ACCOUNT_TYPE" property="accountType" />
        <result column="ACCOUNT_ATTR" property="accountAttr" />
        <result column="SECURITY_ACCOUNT_CODE" property="securityAccountCode" />
        <result column="REMARK" property="remark" />
        <result column="CREATE_BY" property="createBy" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="UPDATE_TIME" property="updateTime" />
        <result column="UPDATE_BY" property="updateBy" />
        <result column="V_NUM" property="vNum" />
        <result column="VALID_FLAG" property="validFlag" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, FUND_ACCOUNT_NO, ACCOUNT_TYPE, ACCOUNT_ATTR, SECURITY_ACCOUNT_CODE, REMARK, CREATE_BY, CREATE_TIME, UPDATE_TIME, UPDATE_BY, V_NUM, VALID_FLAG
    </sql>

</mapper>
